@import "tailwindcss";

@theme {
  /* blue */
  --color-primary-50: #EFEFFF;
  --color-primary-100: #CFCFFF;
  --color-primary-200: #A2A2FF;
  --color-primary-300: #7575FF;
  --color-primary-400: #4242FF;
  --color-primary-500: #0000DC;
  --color-primary-600: #000080;

  /* deep blue */
  --color-secondary-50: #D9D9FF;
  --color-secondary-100: #ADADFF;
  --color-secondary-200: #8080FF;
  --color-secondary-300: #4F4FFF;
  --color-secondary-400: #0000F3;
  --color-secondary-500: #000095;
  --color-secondary-600: #00004E;

  /* neutral grays */
  --color-neutral-50: #F1F1F1;
  --color-neutral-100: #D2D2D5;
  --color-neutral-200: #ABABB0;
  --color-neutral-300: #85858D;
  --color-neutral-400: #61616B;
  --color-neutral-500: #404048;
  --color-neutral-600: #212126;
}

@layer utilities {
  .mesh-gradient-bg {
    background-color: var(--color-secondary-600);
    background-image:
      radial-gradient(at 0% 0%, var(--color-primary-500) 0px, transparent 50%),
      radial-gradient(at 100% 0%, var(--color-secondary-400) 0px, transparent 50%),
      radial-gradient(at 100% 100%, var(--color-primary-600) 0px, transparent 50%);
    position: relative;
    isolation: isolate;
  }

  .mesh-gradient-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.2;
    /* filter: url(#noiseFilter); */
    background-image: url('/noise.png');
    background-repeat: repeat;
    background-size: 128px 128px;
    mix-blend-mode: overlay;
    pointer-events: none;
  }

  .layout-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 768px) {
      max-width: 680px;
      /* Tablet */
    }

    @media (min-width: 1200px) {
      max-width: 1152px;
      /* Desktop */
    }
  }
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GLOBAL SCROLLBAR REMOVAL */
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}